*
{
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', cursive;
}

.header
{
    background: hsl(66, 55%, 79%);
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgb(88, 84, 84);
}

.navbar
{
    padding-top: 10px!important;
}

.nav-item
{
    margin-left: 40px;
    margin-bottom: 10px;
}

.nav-link
{
    color: rgb(39, 18, 18)!important;
    font-size: 12px!important;
    padding: 0 0 5px 0!important;
    display: unset;
}

.navbar-brand img
{
    width: 115px;
}

.fa-bars
{
    color:white;
    font-size: 30px!important;
}

.navbar-toggler
{
    border: 0!important;
    outline: none!important;
    padding: initial!important;
}

.active-home
{
    border-bottom: 2px solid white;
}

.nav-link:hover
{
    border-bottom: 2px solid white;
}

.banner
{
    margin-top: 8%;
    color: white;
    font-size: 20px;
}
.banner h1
{
    margin: 80px 0 50px;
    font-weight: 600px;

    font-size: 50px;
}

.banner.img
{
  max-height: 100px;
}

.banner a
{
    padding : 12x;
    width: 150px;
    display: inline-block;
    background:hsl(66, 55%, 79%);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 14px;
}

.banner a:hover
{
    color: white;
}


.express-btn
{
    background: white!important;
    color: black!important;
    margin-right: 5px;


}

.service
{
    margin: 75px 0;
}

.title
{
    text-align: center;
    font-weight: bold;
    margin: bottom 30px; 
}